@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
    color: white;
    /* background-color: black; */
}

html, body {
    background-color: white;
}

header {
    margin-top: 25px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    color: white;
    border: 2px solid white;
    border-radius: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header ul li {
    display: none;
}

header #hamburger {
    display: block;
    margin-left: 50px;
    margin-right: -50px;
    cursor: pointer;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
}

header nav a:hover {
    color: black;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
}

header nav ul li {
    list-style-type: none;
    padding: 20px 51px;
}

header h1 {
    font-size: 1.5em;
    font-weight: 700;
}

.responsive li {
    display: block;
}

main {
    background-color: white;
}

.hero img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    /* z-index: -1; */
}

.hero #hero-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: white;
    z-index: 1;
    font-family: 'Reenie Beanie', cursive;
    font-size: 4em;
    font-size: 80px; 
	font-weight: normal; 
	text-shadow: 5px 5px 33px rgba(0, 0, 0, 1) ; 
}

/* .hero #hero-submsg {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    font-weight:500;
    color: black;
    z-index: 1;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
} */

.hero #hero-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 300;
    color: white;
    z-index: 1;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 300;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.hero #hero-button:hover {
    color: black;               /* Change the color of the button on hover */
}

@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.hero #scroll-down {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 300;
    color: white;
    z-index: 1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-2;
    animation-timing-function: ease;
}

.recent-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.recent-work #card {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: white;
    border: 5px solid white;
}

.recent-work #card img {
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.recent-work .work-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    color: white;
}

footer {
    background-color: white;
    color: black;
    padding: 10px;
}

footer h1 {
    color: black;
}


@media screen and (min-width: 950px) {
    header #hamburger {
        display: none;
    }

    header ul li {
        display: block;
    }
}
